<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Recipes Show</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Welcome {{user.first_name}} </h1>
        <div class="row m-2">
            <div class="col-8">
                <h3>All Posted Recipes</h3>
            </div>
            <div class="col-4">
                <a href="/logout" >logout</a>
                <a href="/recipes/new" >+ create</a>
            </div>
        </div>
                
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Under 30 minutes ?</th>
                    <th>Posted By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for z in all_recipes%}
                    <tr>
                        <th>{{z.name}}</th>
                        <th>{% if z.under_30==1 %}
                            Yes
                            {%else%}
                            No
                            {%endif%}
                        </th>
                        <th>{{z.owner}}</th>
                        <th>
                            <a href="/recipes/{{z.id}}">view </a> | 
                            {%if z.user_id == user.id%}
                            <a href="/recipes/edit/{{z.id}}">edit </a> | <a href="/remove/{{z.id}}">delete</a>
                            {%endif%}
                        </th>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="/" class="btn btn-black" style="margin-top: 20px;">Home</a>
    </div>
    
</body>
</html>