<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>JOOSSOOR Mobile</title>
</head>
<body>
    
    <div class="container">
        <div class="row d-flex justify_between">
            <h1 class="text-center">ALL JOOSSOOR Mobile</h1>
            <a href="/porter/new" class="btn btn-dark"> Add New User</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <!-- <th>Code Client</th>
                    <th>Société</th>
                    <th>Site</th> -->
                    <th>N°</th>
                    <th>Porteur</th>
                    <th>Forfait</th>
                    <!-- <th>Montant Sans Remise</th>
                    <th>Montant Avec Remise</th>
                    <th>Date de création de la ligne</th>
                    <th>Derniere Modification</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for x in porter_list %}
                    <tr>
                        <td>{{x.id}}</td>
                        <!-- <td>{{x.code_client}}</td>
                        <td>{{x.societe}}</td>
                        <td>{{x.site}}</td> -->
                        <td>{{x.numero}}</td>
                        <td>{{x.porteur}}</td>
                        <td>{{x.forfait}}</td>
                        <!-- <td>{{x.montant_ssr}}</td>
                        <td>{{x.montant_ar}}</td>
                        <td>{{x.created_at}}</td>
                        <td>{{x.updated_at}}</td> -->
                        <td>
                            <a href="/porter/{{x.id}}" class="btn btn-primary">View</a>
                            <a href="/porter/update/{{x.id}}" class="btn btn-warning">Edit</a>
                            <a href="" class="btn btn-danger">Delete</a>
                        </td>
    
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>

</body>
</html>